a:active,
a:focus,
a:hover{
    background-color: #024da1;
    color: #fff;
}
.card-img-top{
  border-radius: 50%;
}
input:disabled{
  border: none;
}
input{
  border-radius: 8px;
  border: 1px solid gray;
}
.fullname{
  font-size: 2rem;
}